<div>
    <app-navbar></app-navbar>
    <br>
    <div class="text-center">
        <h2>Contributors:</h2>
    </div>
    <br>
    <div id="contrib-container" class = "container">
        <div class="row">
            <div class="col-md-2"></div>
            <div id="contrib-1" class="col-md-3 justify-content-center" style="margin-bottom: 5%;">
                <div class="row">
                    <img class="img-responsive" src="../../../assets/images/catBat.jpg" style="margin-bottom: 1em; width: 100%">
                </div>
                <div class="row text-center">
                    <h5 style="margin-bottom: 1em;">Developer: Devon Miller</h5>
                </div>
            </div>
            <div class="col-md-2"></div>
            <div id="contrib-2" class="col-md-3 justify-content-center" style="margin-bottom: 5%;">
                <div class="row">
                    <img class="img-responsive" src="../../../assets/images/catBat.jpg" style="margin-bottom: 1em; width: 100%">
                </div>
                <div class="row text-center">
                    <h5 style="margin-bottom: 1em;">Developer: Shane Sanborn</h5>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div id="contrib-1" class="col-md-3 justify-content-center" style="margin-bottom: 5%;">
                <div class="row">
                    <img class="img-responsive" src="../../../assets/images/catBat.jpg" style="margin-bottom: 1em; width: 100%">
                </div>
                <div class="row text-center">
                    <h5 style="margin-bottom: 1em;">Developer: Shadab Akhtar</h5>
                </div>
            </div>
            <div class="col-md-2"></div>
            <div id="contrib-2" class="col-md-3 justify-content-center" style="margin-bottom: 5%;">
                <div class="row">
                    <img class="img-responsive" src="../../../assets/images/catBat.jpg" style="margin-bottom: 1em; width: 100%">
                </div>
                <div class="row text-center">
                    <h5 style="margin-bottom: 1em;">Developer: Syed Abidi</h5>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>

    </div>

    <div id="about-container" class = "container">
        <div class="row">
            <h3>About Us:</h3>
        </div>

        <div class="row text-center">
            <p>
                Our team is dedicated to helping out others in an easier pursuit for employment or a career. Our <i>mission</i> is to connect
                the entire workforce onto a one stop site for all careers and employment opportunities. Now, LinkedIn started as a
                small project two for our Revature batch, but it is now a small project two for our Revature batch. It was theorized by
                Shadab Akhtar, but ultimately co-founded by a group of four, <b>Shadab Akhtar</b>, <b>Shane Sanborn</b>, <b>Syed Abidi</b>, and <b>Devon Miller</b>.
            </p>
        </div>

    </div>

</div>

